#errorss{
    width: 50%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #A94442;
    color: #A94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    
}